/**** CSS NORMALIZE IMPORT *****/
@import-normalize;

/**** Google Fonts - Zen Kurenaido & Oswld *****/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Zen+Kurenaido&display=swap');

/**** Variables *****/
:root {
  --ff-title: 'Oswald', sans-serif;
  --ff-primary: 'Zen Kurenaido', sans-serif;

  --primary-white: #fdf6f6;
  --pure-white: #faf8f2;
  --primary-black: #22221e;
  --yellow-lte: #ffcb05;
  --yellow-drk: #c7a008;
  --blue-lte: #2a75bb;
  --blue-drk: #3c5aa6;

  --radius: 1.5rem;
  --shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

/**** GENERIC ELEMENTS *****/
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: var(--ff-primary);
  color: var(--primary-black);
  background-color: var(--primary-white);
}

#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.3rem;
  font-family: var(--ff-primary);
}

.pokeball {
  width: 4rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
